@import "../../../../stylus/index.styl";
.banner-index{
    .banner{
        
        img{
            width 100%
            touch-action: none
        }
        .banner-title{
            width 100%
            padding 0 3%
            box-sizing border-box
            text-align center
            position absolute
            bottom .5rem
            font-size $siz1
            color $white
        }
    }
}