@import "../../../stylus/index.styl";
.list{
    .list-index-con{
        width 100vw
        .wrap{
            width 94%;
            margin 0 auto
            .banner-indexcon-list{
                background-color $white
                border-radius .1rem
                width 100%
                padding .1rem 0
                margin .1rem 0
                .left-con{
                    float left
                    font-size $siz3
                    color #717171
                    width 75%
                    padding .1rem .2rem
                    box-sizing border-box
                }
                .right-img{
                    float right
                    width 25%
                    padding 0 .2rem 
                    box-sizing border-box
                    img{
                        width 100%
                        padding  .1rem 0
                    }
                }
            }
        }

    }
}