.index{
    background-color: #f3f3f3;
}
.header{
    width: 100vw;
    background-color: #00a2ed;
    position: fixed;
padding: .25rem 0;
color: white;
}
.index-header-left{
    float: left;
   
}
.index-header-left>span{
    margin-left: .5rem;
}

.index .index-header-size{
    font-size: .5rem;
}
.index-header-right{
    float: right;
}
.index-header-right>span{
    margin-right:.5rem;
}
.index-con{
    padding-top:.5rem;
}