@import "../../../../stylus/index.styl";
.share{
    .share-mark{
        width 100vw
        height 100vh
        background: rgba(0,0,0,0.5);
        position fixed
        top 1rem
        left 0
        z-index 111
        .share-box{
            width 80%
            height 70%
            border-radius .1rem
            background-color $white
            position fixed
            left 50%
            top 50%
            padding 0 .2rem
            box-sizing border-box
            transform: translate(-50%, -50%)
            .share-fenxiang{
                font-size $siz4
                padding .4rem .2rem
            }
            .share-con{
                display flex 
                justify-content:space-between
                flex-wrap wrap 
                .share-icon{
                    padding .15rem .2rem
                    .icon-title{
                        display block
                        text-align center
                    }
                    .iconfont{
                    font-size 1rem
                    
                }
                    .icon-weibo{
                    color #f13f19
                }
                    .icon-weixin{
                    color #60c84f
                }
                    .icon-pengyouquan{
                    color #72cf29
                }
                    .icon-fenxiang_yinxiangbiji{
                    color #60c84f
                }
                    .icon-youdaoyunbiji{
                    color #30a1ed
                }
                    .icon-QQ{
                    color #2369c8
                }
                    .icon-gengduo{
                   color #7f7f7f
                }
                }
                
               

        }
        }
        
    }
}