@import "../../stylus/index.styl";
.detail{
    background-color:$backc;
}
header{
     height:1rem;
}
.header{
    z-index:100;
    width: 100vw;
    background-color: $primery;
    position: fixed;
    color: $white;
    height:1rem;
    line-height:1rem;
    left:0;
    top: 0;
}
.detail-header-left{
    float: left;
   
}
.detail-header-left .iconfont{
    margin-left: .5rem;
}
.detail-num{
    margin 0 .3rem 0 -.3rem
    font-size .48rem
}

.detail .detail-header-size{
    font-size: .5rem;
}
.detail .cancel{
    color yellow
}
.detail-header-right{
    float: right;
}
.detail-header-right .iconfont{
    margin-right:.5rem;
}
.in-block{
    display inline-block
}
